<div class="center">
  <h1>Login</h1>
  <form action="">
    <div class="txt_field">
      <input type="text" id="uname" required>
      <span></span>
      <label>Email</label>
    </div>
    <div class="txt_field">
      <input type="password" id="pwd" required>
      <span></span>
      <label>Password</label>
    </div>
    <div class="pass">Forgot Password?</div>
    
      <button type="submit" (click)="loginUser()">Login</button>
    
    <div class="signup_link">
      Not a member? <a href="#">Signup</a>
    </div>
  </form>
</div>
